body{
  background-color:#C9E5E6;
}

.calc{
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center
}

button{
  color:white;
  width:70px;
  border:0;
  height:70px;
 background:rgba(255,255,255,0.1);
  margin:7px;
  border-radius: 50%;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

}

input{
  text-size:100px;
  color:white;
  background-color:rgba(255, 255, 255, 0);
  border-radius: 15 15;
  width:300px;
  height:100px;
  font-size: 100px;
  border:0;
  padding-top: 100px;
  direction:rtl;

}

.background {
  position: fixed;
  top: 50%;
  left: 50%; 
  width: 360px; 
  height: 630px; 			
  border-radius: 20px 20px 20px 20px  ;
  transform: translate(-50%, -50%); 
 
  z-index: -1;
  filter: alpha(opacity=10);
  box-shadow: 0px 0px 60px rgba(3, 3, 3, 0.24);



background: #ff6668;
background: #ff6668;
background: -moz-linear-gradient(top, #ff6668 1%, #ff6668 56%, #ff4242 100%);
background: -webkit-linear-gradient(top, #ff6668 1%,#ff6668 56%,#ff4242 100%);
background: linear-gradient(to bottom, #ff6668 1%,#ff6668 56%,#ff4242 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6668', endColorstr='#ff4242',GradientType=0 );
}

.equals{
  width:150px;
  background:#FED501;
  
  color: #FF6668;
  border-radius: 50px 50px 50px 50px;
}


.symbol{
  border: 2px solid rgba(255, 255, 255, 0.37);
}

.symbol-x{
  border: 2px solid rgba(255, 255, 255, 0.37);
  font-size: 15px;
}



.clear{
  border: 2px solid rgba(255, 255, 255, 0.37);
  font-size:15px;
 }


 button:hover{
  
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.157);
  transition: 0.3s;
 }


 .symbol:hover{
  border: 0;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.157);
  transition: 0.3s;
  background:#FED501;
  color:#FF6668;
}

.clear:hover{
  border: 0;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.157);
  transition: 0.3s;
  background:#FED501;
  color:#FF6668;
 }

 .symbol-x:hover{
  border: 0;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.157);
  transition: 0.3s;
  background:#FED501;
  color:#FF6668;
}

 .equals:hover{
  background:#FED501;
  box-shadow: 0px 15px 60px rgba(3, 3, 3, 0.246);
  transition: 0.3s;

}

.credit{
  position: fixed;
  top: 81%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}